---
maxResults: 10
layout: clean.njk
pagination:
  data: groups
  size: 1
  alias: group
permalink: "/{{ group.name | slug }}/"
---

</nav>
<table class="bg-gray-700 leaderboard leaderboard-list  italic">
	<thead data-sr-only>
		<tr>
			<th>Category</th>
			<th>Site Count</th>
			<th>Last Run Date</th>
		</tr>
	</thead>
	<tbody>
	{% for item in group.sites %}
		<tr>
			<td><a href="/{{item.slug}}">{{item.name}}</a></td>
		</tr>
	{% endfor %}
	</tbody>

</table>