---
layout: layout.njk
---
<table class="italic bg-gray-700 leaderboard leaderboard-list">
	<thead data-sr-only>
		<tr>
			<th>Category</th>
			<th>Site Count</th>
			<th>Last Run Date</th>
		</tr>
	</thead>

	<tbody>
	{%- for item in groups %}
		<tr>
			<td class="border-2 bg-white">
				<a href="{{item.name|slug}}" class="bg-white">{{item.name}}</a></li>
				<span class="count">×{{ item.sites.length }}</span>
			</td>
		</tr>
	{% endfor %}
	</tbody>

</table>

